:root {
    --defaultYellow: rgb(255, 201, 60);
    /* #ffc93c; */
}
.header-fixed-top {
    position: sticky;
    top: 0;
}

#nav-link-header {
    background: var(--defaultYellow);
}
#nav-link-header .container > a:hover {
    transform: scale(1.3);
    transition: 0.8s ease all;
}

.container {
    /* width: 870px; */
}
.header-fixed-top .nav-bar-container .container {
    /* max-width: auto 870px 1110px; */
}
.option-list > a {
    color: black !important;
    font-size: 0.7em;
    font-weight: bold;
    letter-spacing: 1.5px;
}
.option-list > a:hover {
    color: rgb(139, 139, 139) !important;
    transition: 0.8s ease all;
}

.centralize {
    margin: 0 auto;
    text-align: center;
}
/* Footer */
.container .our-history {
    text-align: left;
    color: var(--defaultYellow);
}
.container .our-history p,
li {
    font-size: 0.7rem;
    color: var(--white);
}
.container .our-history h6 {
    font-weight: bold;
    letter-spacing: 1.5px;
}
.container .bottom-line {
    border-top: solid 2.5px var(--defaultYellow);
    width: 3rem;
    margin-left: 0;
}
footer {
    background: black;
    width: 100%;
    position: relative;
    bottom: 0;
}
.our-history:first-child {
    width: 400px;
}
.contact-list li:before {
    content: "- ";
}
.social-media-icon {
    display: flex;
    border: solid 2px var(--defaultYellow);
    padding: 10px 16px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
.social-media li + .social-media-icon {
    font-size: 21px;
}
.social-media li {
    margin-right: 10px;
}
.social-media-icon {
    color: var(--defaultYellow);
    font-size: 25px;
}
.footer-bottom {
    font-size: 0.8rem;
    background: var(--defaultYellow);
    color: black;
    width: 100%;
}
.btn-home {
    border-color: var(--defaultYellow);
    color: var(--defaultYellow);
}
.columns-bottom-text {
    color: white;
}
.card-img-top {
    background: black;
}
.card-bike-portfolio {
    position: static;
    width: 100%;
}
.card-bike-portfolio .card-bottom {
    width: 100%;
    position: static;
    border: none;
    height: 100%;
}
.card-bike-portfolio .card-bottom img {
    height: 100%;
}
.title-bottom {
    margin-top: 10px;
}
.bottom-section {
    width: 100%;
    height: auto;
}
.card-bike-portfolio .card-bottom .card-img-top {
    background: black;
    width: 100%;
}
.title-bottom h2 {
    color: var(--defaultYellow);
}
.title-bottom hr {
    border-color: var(--defaultYellow);
}
.columns-bike-portfolio-container {
    background: black;
}
.columns-bike-top {
    width: 100%;
    height: auto;
}
.columns-bike-top .title {
    margin-top: 10px;
}
.columns-bike-top .title hr {
    margin-top: 10px;
    border-color: black;
}
.columns-bike-top .title h2 {
    text-transform: uppercase;
    font-weight: bold;
}
.my-columns .row .card-bike {
    position: static;
}
.my-columns .row .card-bike .card {
    width: 100%;
    position: static;
    height: 100%;
}
.my-columns .row .card-bike .card img {
    background: black;
}
.my-columns .row .card-bike .card .card-body-top {
    background: var(--defaultYellow);
    height: 100%;
}
.my-columns .row .card-bike .card .card-body-top p {
    font-size: 0.8rem;
    color: black;
}

.card-bike .card .card-body-top p {
    font-size: 0.8rem;
}
.card-bike .card .card-body-top hr {
    border: solid 0.13rem black;
}
.footer-bottom {
    background-color: var(--defaultYellow);
}

/* Fim do Footer */

/* Intro Section */

.intro-container {
    margin-top: 0;
    background-image: url(../imgs/intro-section-image.jpg);
    background-size: cover;
    width: auto;
}
.intro-container .bottom-line-intro-container .bottom-line {
    border-color: white;
    border-width: 2.5px;
}
.intro-container .intro-text {
    /* padding-top: 100px;
    padding-bottom: 0px; */
}
.intro-subtext {
    padding: 0px;
    font-size: 0.8rem;
    width: 300px;
}
.intro-subtext p:before,
.intro-subtext p:after {
    content: '"';
}
.intro-reference-name {
    font-size: 0.7rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.btn-orcamento-container .btn {
    font-size: 0.7rem;
    letter-spacing: 1px;
    border-width: 2px;
    border-radius: 0px;
}
.btn-orcamento-container .btn:hover {
    background-color: rgb(240, 238, 238);
    transition: 0.7s ease all;
}

.final-container {
    background-image: url(../imgs/final-section.jpg);
    background-repeat: no-repeat;
    height: 210px;
    background-position: center;
    width: auto;
}
.final-container-text .bottom-line {
    border-color: white;
}
.final-container-text {
    padding-top: 60px;
}
@media (min-width: 579px) {
    .container {
        width: auto;
    }

    .intro-container {
        background-repeat: no-repeat;
        background-position-x: 21%;
        background-size: cover;
        height: 260px;
    }
    .intro-text {
        padding: 20px 10px 15px 10px !important;
        font-size: 1.4rem;
        margin: 0px 60px !important;
    }
    .intro-section-container {
        width: auto;
    }
    .intro-subtext {
        width: auto;
        margin-left: 10% !important;
        margin-right: 10% !important;
        padding: 10px 0px 0px 0px !important;
        font-size: 0.9rem;
        color: white;
    }
    .btn-orcamento-container button {
        padding: 5px 15px !important;
    }
    .spacing {
        display: none;
    }
    .columns-bottom {
        font-size: 0.8rem;
    }

    .final-container {
        background-size: auto;
        background-repeat: repeat-x;
        height: 220px;
    }
    /* footer confg */
    footer {
        width: auto;
    }
    footer,
    .row {
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .our-history:first-child {
        width: auto;
    }
    .social-media ul {
        display: none !important;
    }
    .card-bike-portfolio {
        padding: 0;
        margin: 0;
    }
    .card-bike-portfolio:first-child {
        padding: 0px 15px 0px 0px;
    }
    .nav-bar-container {
        display: block;
    }
}

@media (max-width: 576px) {
    .container {
        width: auto;
    }
    .bike-img,
    .card-body-top {
        max-width: 65%;
        margin-left: auto;
        margin-right: auto;
    }
    .card {
        border: none;
    }
    .our-history:first-child {
        width: 350px;
    }
    .nav-bar-container {
        display: block;
    }
}
